/*
initial submission, looks really cool but trying to get Ealges colors
p {
    background-color: forestgreen;
    font-weight: bold;
    padding: 1px 0 1px 5px;
}
 */

/* eagles colors
 https://teamcolorcodes.com/philadelphia-eagles-color-codes/
 */
p {
    font-weight: bold;
    padding: 1px 0 1px 5px;
    border: 1px solid black;
}
